<div class="gridCalc">
	<div class="gridCalcHeader">

	</div>

	<div class="gridCalcBody">
		<button class="buttonBlue gridCalcLarge gridCalcCol" type="button">C</button>
		<button class="gridCalcCol" type="button">&divide;</button>
		<button  {{action "show" 7}} class="gridCalcCol" type="button">7</button>
		<button  {{action "show" 8}} class="gridCalcCol" type="button">8</button>
		<button  {{action "show" 9}} class="gridCalcCol" type="button">9</button>
		<button class="gridCalcCol" type="button">x</button>
		<button  {{action "show" 4}} class="gridCalcCol" type="button">4</button>
		<button  {{action "show" 5}} class="gridCalcCol" type="button">5</button>
		<button  {{action "show" 6}} class="gridCalcCol" type="button">6</button>
		<button class="gridCalcCol" type="button">-</button>
		<button  {{action "show" 1}} class="gridCalcCol" type="button">1</button>
		<button  {{action "show" 2}} class="gridCalcCol" type="button">2</button>
		<button  {{action "show" 3}} class="gridCalcCol" type="button">3</button>
		<button class="gridCalcCol" type="button">+</button>
		<button  {{action "show" 0}} class="gridCalcLarge gridCalcCol" type="button">0</button>
		<button class="buttonGreen gridCalcCol" type="button">=</button>
	</div>
</div>

{{outlet}}